{"service":
  {"name": "nomad",
  "tags" : ["urlprefix-/nomad"],
   "port": 80,
   "tagged_addresses": {
        "lan": {
          "address": "127.0.0.1",
          "port": 4646
        },
        "wan": {
          "address": "127.0.0.1",
          "port": 80
        }
    }
     "check": {
    "id": "nomad",
    "name": "fabio on port 998",
    "http": "https://localhost:4646/v1/agent/health",
    "interval": "10s",
    "timeout": "1s"
  }
}}
