{"service":
  {"name": "consul",
  "tags" : ["urlprefix-/consul"],
   "port": 80,
   "tagged_addresses": {
        "lan": {
          "address": "127.0.0.1",
          "port": 8500
        },
        "wan": {
          "address": "127.0.0.1",
          "port": 80
        }
    }
     "check": {
    "id": "lb",
    "name": "fabio on port 998",
    "http": "https://localhost:9998/health",
    "interval": "10s",
    "timeout": "1s"
  }
}}
