{"service":
  {"name": "consul",
  "tags" : ["urlprefix-/api"],
   "port": 80,
   "TaggedAddresses": {
        "lan": {
          "address": "https://mlewicki-graphQl-intake.execute-api.us-east-1.amazonaws.com/prod",
          "port": 80
        },
        "wan": {
          "address": "https://mlewicki-graphQl-intake.execute-api.us-east-1.amazonaws.com/prod",
          "port": 80
        }
    }
}'