{
  data_dir: "/opt/consul"
{% if type == "server" %}
  server: true
  bootstrap_expect: 3
{% else %}
client: true
{% endif %}

  "retry_join_ec2": {
        "tag_key": "Type",
        "tag_value": "Quorum"
  }

}


