{"service":
  {"name": "fabio",
  "tags" : ["urlprefix-/fabio"],
   "port": 80,
   "tagged_addresses": {
        "lan": {
          "address": "127.0.0.1",
          "port": 9998
        },
        "wan": {
          "address": "127.0.0.1",
          "port": 80
        }
    }
}}
