data_dir = "/opt/nomad"

{% if type == "server" %}
server {
  enabled          = true
  bootstrap_expect = 3
}
{% else %}
client {
    enabled = true

host_volume "website" {
    path      = "/opt/website/data"
    read_only = false
  }
  }
{% endif %}

telemetry {
  collection_interval = "1s"
  disable_hostname = true
  prometheus_metrics = true
  publish_allocation_metrics = true
  publish_node_metrics = true
}
