data_dir = "/opt/nomad"

{% if {{type}} is "server" %}
server {
  enabled          = true
  bootstrap_expect = 2
}
{% else %}
client {
    enabled = true
}
{% endif %}

telemetry {
  collection_interval = "1s"
  disable_hostname = true
  prometheus_metrics = true
  publish_allocation_metrics = true
  publish_node_metrics = true
}
